app/pages/about-preparat.pug
extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.about-preparat-section
			.container
				.description-content
					.description-info
						h2.section-title О препарате
						p.section-descr Существенно сократить список необходимых лекарственных средств может помочь универсальный препарат Ренгалин, предназначенный для лечения сухого и влажного кашля для взрослых и детей с 3-х лет
						a(href="#").btn.primary Купить
					.description-img
						img(src="images/pack1.png", alt="")
				.advantages-wrap
					.advantages-row
						.advantages
							.advantages__wrap
								.advantages__img
									img(src="images/advantages1.png", alt="")
								h3.advantages__title Уменьшает выраженность ночного кашля
						.advantages
							.advantages__wrap
								.advantages__img
									img(src="images/advantages2.png", alt="")
								h3.advantages__title Снижает интенсивность и длительность дневного кашля
						.advantages
							.advantages__wrap
								.advantages__img
									img(src="images/advantages3.png", alt="")
								h3.advantages__title Снимает воспаление в дыхательных путях
						.advantages
							.advantages__wrap
								.advantages__img
									img(src="images/advantages4.png", alt="")
								h3.advantages__title Устраняет отечность слизистых дыхательных путей
					.advantages-row
						.advantages
							.advantages__wrap
								.advantages__img
									img(src="images/advantages1.png", alt="")
								h3.advantages__title Уменьшает выраженность ночного кашля
						.advantages
							.advantages__wrap
								.advantages__img
									img(src="images/advantages2.png", alt="")
								h3.advantages__title Снижает интенсивность и длительность дневного кашля
						.advantages
							.advantages__wrap
								.advantages__img
									img(src="images/advantages3.png", alt="")
								h3.advantages__title Снимает воспаление в дыхательных путях
		
		section.mechanism-section
			.container
				h2.section-title Механизм действия
				.mechanism-wrap
					.mechanism
						.mechanism__title-wrap
							.mechanism__title-img
								img(src="images/mechanism1.png", alt="")
							span.mechanism__title При сухом кашле
							.mechanism__bracket
								img(src="images/bracket.svg", alt="")
							.mechanism__anti-wrap
								.mechanism__anti
									.mechanism__anti-img
										img(src="images/i1.png", alt="")
									h3.mechanism__anti-title
										span.mechanism__sub-title.js-show-info Антитела
											span * 
										| к морфину

										.info-abs.js-info-abs
											.info-abs__wrap
												ul
													li Антитела к брадикинину аффинно очищенные 0,12 г
													li Антитела к гистамину аффинно очищенные 0,12 г
													li Антитела к морфину аффинно очищенные 0,12 г
													li (вводятся в виде смеси трех активных водных разведений субстанции, разведенной соответственно в 10012, 10030, 10050 раз. Вспомогательные вещества: гипромеллоза 1,0 г, мальтитол 6,0 г, глицерол 3,0 г, сорбат калия 0,165 г, лимонная кислота безводная 0,02 г, вода очищенная до 100 мл).
												ul
													li Антитела к брадикинину аффинно очищенные – 0,006 г
													li Антитела к гистамину аффинно очищенные – 0,006 г
													li Антитела к морфину аффинно очищенные – 0,006 г
													li (Вспомогательные вещества: изомальт 0,506 г, целлюлоза микрокристаллическая 0,0275 г, магния стеарат 0,0055 г, лимонная кислота безводная 0,005225 г, кремния диоксид коллоидный 0,00275 г, цикламат натрия 0,00275 г, сахарин натрия 0,000275 г. наносятся на изомальт в виде смеси трех активных водно-спиртовых разведений субстанции, разведенной соответственно в 10012, 10030, 10050 раз.)

									p.mechanism__anti-descr регулируют активность кашлевого центра
								.mechanism__anti
									.mechanism__anti-img
										img(src="images/i2.png", alt="")
									h3.mechanism__anti-title
										span.mechanism__sub-title.js-show-info Антитела
											span * 
										| к гистамину и брадикинину
										.info-abs.js-info-abs
											.info-abs__wrap
												ul
													li Антитела к брадикинину аффинно очищенные 0,12 г
													li Антитела к гистамину аффинно очищенные 0,12 г
													li Антитела к морфину аффинно очищенные 0,12 г
												ul
													li Антитела к брадикинину аффинно очищенные – 0,006 г
													li Антитела к гистамину аффинно очищенные – 0,006 г
													li Антитела к морфину аффинно очищенные – 0,006 г
									p.mechanism__anti-descr оказывают противовоспалительное действие позволяя миновать фазу влажного кашля
					.mechanism
						.mechanism__title-wrap
							.mechanism__title-img
								img(src="images/mechanism2.png", alt="")
							span.mechanism__title При сухом кашле
							.mechanism__bracket
								img(src="images/bracket.svg", alt="")
							.mechanism__anti-wrap
								.mechanism__anti
									.mechanism__anti-img
										img(src="images/i3.png", alt="")
									h3.mechanism__anti-title.mechanism__anti-title_abs 
										span.mechanism__sub-title.js-show-info Антитела
											span * 
										| к гистамину и брадикинину
										.info-abs.js-info-abs
											.info-abs__wrap
												ul
													li Антитела к брадикинину аффинно очищенные 0,12 г
													li Антитела к гистамину аффинно очищенные 0,12 г
													li Антитела к морфину аффинно очищенные 0,12 г
												ul
													li Антитела к брадикинину аффинно очищенные – 0,006 г
													li Антитела к гистамину аффинно очищенные – 0,006 г
													li Антитела к морфину аффинно очищенные – 0,006 г
									p.mechanism__anti-descr оказывают противовоспалительное бронхолитическое действие
								.mechanism__anti
									.mechanism__anti-img
										img(src="images/i4.png", alt="")
									h3.mechanism__anti-title
									p.mechanism__anti-descr купируют воспаление в дыхательных путях, препятствуют избыточному образованию вязкой мокроты
		
		section.testimony-section
			.container
				h2.section-title Показания к применению
				.advantages-wrap
					.advantages-row
						.advantages
							.advantages__wrap
								.advantages__img
									img(src="images/testimony1.png", alt="")
								h3.advantages__title Сухой кашель
						.advantages
							.advantages__wrap
								.advantages__img
									img(src="images/testimony2.png", alt="")
								h3.advantages__title Влажный кашель
						.advantages
							.advantages__wrap
								.advantages__img
									img(src="images/testimony3.png", alt="")
								h3.advantages__title Остаточный кашель*
				.decree-wrap
					p.decree *или «затяжного» кашля – длительно сохраняющегося покашливания после перенесенного ОРЗ
		
		include ../blocks/section-application/section-application
block footer
	include ../blocks/footer/footer
	include ../blocks/modal/fixed-elements

build/about-preparat.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="container"><a class="logo" href="index.html"><img src="images/logo.svg" alt="logo"></a>
          <div class="burger-menu js-nav">
            <nav class="nav">
              <ul class="nav__list">
                <li class="nav__item"><a class="nav__link active" href="about-preparat.html">О препарате</a></li>
                <li class="nav__item"><a class="nav__link" href="instruction.html"> Инструкция</a></li>
                <li class="nav__item"><a class="nav__link" href="cough.html">о кашле</a></li>
                <li class="nav__item"><a class="nav__link" href="articles.html">Публикации</a></li>
                <li class="nav__item"><span class="nav__link js-open-accept">Специалистам</span></li>
                <li class="nav__item"><a class="nav__link" href="faq.html">faq</a></li>
              </ul>
            </nav>
          </div><a class="buy-btn" href="#"></a><a class="btn primary" href="#">Купить</a>
          <div class="burger js-burger"><span></span><span></span></div>
        </div>
      </header>
      <main class="main">
        <section class="about-preparat-section">
          <div class="container">
            <div class="description-content">
              <div class="description-info">
                <h2 class="section-title">О препарате</h2>
                <p class="section-descr">Существенно сократить список необходимых лекарственных средств может помочь универсальный препарат Ренгалин, предназначенный для лечения сухого и влажного кашля для взрослых и детей с 3-х лет</p><a class="btn primary" href="#">Купить</a>
              </div>
              <div class="description-img"><img src="images/pack1.png" alt=""></div>
            </div>
            <div class="advantages-wrap">
              <div class="advantages-row">
                <div class="advantages">
                  <div class="advantages__wrap">
                    <div class="advantages__img"><img src="images/advantages1.png" alt=""></div>
                    <h3 class="advantages__title">Уменьшает выраженность ночного кашля</h3>
                  </div>
                </div>
                <div class="advantages">
                  <div class="advantages__wrap">
                    <div class="advantages__img"><img src="images/advantages2.png" alt=""></div>
                    <h3 class="advantages__title">Снижает интенсивность и длительность дневного кашля</h3>
                  </div>
                </div>
                <div class="advantages">
                  <div class="advantages__wrap">
                    <div class="advantages__img"><img src="images/advantages3.png" alt=""></div>
                    <h3 class="advantages__title">Снимает воспаление в дыхательных путях</h3>
                  </div>
                </div>
                <div class="advantages">
                  <div class="advantages__wrap">
                    <div class="advantages__img"><img src="images/advantages4.png" alt=""></div>
                    <h3 class="advantages__title">Устраняет отечность слизистых дыхательных путей</h3>
                  </div>
                </div>
              </div>
              <div class="advantages-row">
                <div class="advantages">
                  <div class="advantages__wrap">
                    <div class="advantages__img"><img src="images/advantages1.png" alt=""></div>
                    <h3 class="advantages__title">Уменьшает выраженность ночного кашля</h3>
                  </div>
                </div>
                <div class="advantages">
                  <div class="advantages__wrap">
                    <div class="advantages__img"><img src="images/advantages2.png" alt=""></div>
                    <h3 class="advantages__title">Снижает интенсивность и длительность дневного кашля</h3>
                  </div>
                </div>
                <div class="advantages">
                  <div class="advantages__wrap">
                    <div class="advantages__img"><img src="images/advantages3.png" alt=""></div>
                    <h3 class="advantages__title">Снимает воспаление в дыхательных путях</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="mechanism-section">
          <div class="container">
            <h2 class="section-title">Механизм действия</h2>
            <div class="mechanism-wrap">
              <div class="mechanism">
                <div class="mechanism__title-wrap">
                  <div class="mechanism__title-img"><img src="images/mechanism1.png" alt=""></div><span class="mechanism__title">При сухом кашле</span>
                  <div class="mechanism__bracket"><img src="images/bracket.svg" alt=""></div>
                  <div class="mechanism__anti-wrap">
                    <div class="mechanism__anti">
                      <div class="mechanism__anti-img"><img src="images/i1.png" alt=""></div>
                      <h3 class="mechanism__anti-title"><span class="mechanism__sub-title js-show-info">Антитела<span>* </span></span>к морфину
                        <div class="info-abs js-info-abs">
                          <div class="info-abs__wrap">
                            <ul>
                              <li>Антитела к брадикинину аффинно очищенные 0,12 г</li>
                              <li>Антитела к гистамину аффинно очищенные 0,12 г</li>
                              <li>Антитела к морфину аффинно очищенные 0,12 г</li>
                              <li>(вводятся в виде смеси трех активных водных разведений субстанции, разведенной соответственно в 10012, 10030, 10050 раз. Вспомогательные вещества: гипромеллоза 1,0 г, мальтитол 6,0 г, глицерол 3,0 г, сорбат калия 0,165 г, лимонная кислота безводная 0,02 г, вода очищенная до 100 мл).</li>
                            </ul>
                            <ul>
                              <li>Антитела к брадикинину аффинно очищенные – 0,006 г</li>
                              <li>Антитела к гистамину аффинно очищенные – 0,006 г</li>
                              <li>Антитела к морфину аффинно очищенные – 0,006 г</li>
                              <li>(Вспомогательные вещества: изомальт 0,506 г, целлюлоза микрокристаллическая 0,0275 г, магния стеарат 0,0055 г, лимонная кислота безводная 0,005225 г, кремния диоксид коллоидный 0,00275 г, цикламат натрия 0,00275 г, сахарин натрия 0,000275 г. наносятся на изомальт в виде смеси трех активных водно-спиртовых разведений субстанции, разведенной соответственно в 10012, 10030, 10050 раз.)</li>
                            </ul>
                          </div>
                        </div>
                      </h3>
                      <p class="mechanism__anti-descr">регулируют активность кашлевого центра</p>
                    </div>
                    <div class="mechanism__anti">
                      <div class="mechanism__anti-img"><img src="images/i2.png" alt=""></div>
                      <h3 class="mechanism__anti-title"><span class="mechanism__sub-title js-show-info">Антитела<span>* </span></span>к гистамину и брадикинину
                        <div class="info-abs js-info-abs">
                          <div class="info-abs__wrap">
                            <ul>
                              <li>Антитела к брадикинину аффинно очищенные 0,12 г</li>
                              <li>Антитела к гистамину аффинно очищенные 0,12 г</li>
                              <li>Антитела к морфину аффинно очищенные 0,12 г</li>
                            </ul>
                            <ul>
                              <li>Антитела к брадикинину аффинно очищенные – 0,006 г</li>
                              <li>Антитела к гистамину аффинно очищенные – 0,006 г</li>
                              <li>Антитела к морфину аффинно очищенные – 0,006 г</li>
                            </ul>
                          </div>
                        </div>
                      </h3>
                      <p class="mechanism__anti-descr">оказывают противовоспалительное действие позволяя миновать фазу влажного кашля</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mechanism">
                <div class="mechanism__title-wrap">
                  <div class="mechanism__title-img"><img src="images/mechanism2.png" alt=""></div><span class="mechanism__title">При сухом кашле</span>
                  <div class="mechanism__bracket"><img src="images/bracket.svg" alt=""></div>
                  <div class="mechanism__anti-wrap">
                    <div class="mechanism__anti">
                      <div class="mechanism__anti-img"><img src="images/i3.png" alt=""></div>
                      <h3 class="mechanism__anti-title mechanism__anti-title_abs"> <span class="mechanism__sub-title js-show-info">Антитела<span>* </span></span>к гистамину и брадикинину
                        <div class="info-abs js-info-abs">
                          <div class="info-abs__wrap">
                            <ul>
                              <li>Антитела к брадикинину аффинно очищенные 0,12 г</li>
                              <li>Антитела к гистамину аффинно очищенные 0,12 г</li>
                              <li>Антитела к морфину аффинно очищенные 0,12 г</li>
                            </ul>
                            <ul>
                              <li>Антитела к брадикинину аффинно очищенные – 0,006 г</li>
                              <li>Антитела к гистамину аффинно очищенные – 0,006 г</li>
                              <li>Антитела к морфину аффинно очищенные – 0,006 г</li>
                            </ul>
                          </div>
                        </div>
                      </h3>
                      <p class="mechanism__anti-descr">оказывают противовоспалительное бронхолитическое действие</p>
                    </div>
                    <div class="mechanism__anti">
                      <div class="mechanism__anti-img"><img src="images/i4.png" alt=""></div>
                      <h3 class="mechanism__anti-title"></h3>
                      <p class="mechanism__anti-descr">купируют воспаление в дыхательных путях, препятствуют избыточному образованию вязкой мокроты</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="testimony-section">
          <div class="container">
            <h2 class="section-title">Показания к применению</h2>
            <div class="advantages-wrap">
              <div class="advantages-row">
                <div class="advantages">
                  <div class="advantages__wrap">
                    <div class="advantages__img"><img src="images/testimony1.png" alt=""></div>
                    <h3 class="advantages__title">Сухой кашель</h3>
                  </div>
                </div>
                <div class="advantages">
                  <div class="advantages__wrap">
                    <div class="advantages__img"><img src="images/testimony2.png" alt=""></div>
                    <h3 class="advantages__title">Влажный кашель</h3>
                  </div>
                </div>
                <div class="advantages">
                  <div class="advantages__wrap">
                    <div class="advantages__img"><img src="images/testimony3.png" alt=""></div>
                    <h3 class="advantages__title">Остаточный кашель*</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="decree-wrap">
              <p class="decree">*или «затяжного» кашля – длительно сохраняющегося покашливания после перенесенного ОРЗ</p>
            </div>
          </div>
        </section>
        <section class="application-section">
          <div class="container">
            <h2 class="section-title center">Способ применения и дозы</h2>
          </div>
          <div class="application-wrap">
            <div class="application js-tabs">
              <ul class="application__list js-tab-btn">
                <li class="application__item active">Таблетки</li>
                <li class="application__item">Раствор</li>
              </ul>
              <div class="application__content js-tab-content active">
                <div class="dose-wrap">
                  <div class="dose"><span class="dose__time">Утром</span>
                    <div class="dose__img"><img src="images/tabl.png" alt=""></div>
                  </div>
                  <div class="dose-arrow"></div>
                  <div class="dose"><span class="dose__time">Днем</span>
                    <div class="dose__img"><img src="images/tabl.png" alt=""></div>
                  </div>
                  <div class="dose-arrow"></div>
                  <div class="dose"><span class="dose__time">Вечером</span>
                    <div class="dose__img"><img src="images/tabl.png" alt=""></div>
                  </div>
                </div>
                <div class="inst-section">
                  <div class="container">
                    <div class="inst-wrap">
                      <div class="inst">
                        <div class="inst__wrap">
                          <div class="inst__img"><img src="images/inst1.svg" alt=""></div>
                          <p class="inst__descr">Держать во рту до растворения</p>
                        </div>
                      </div>
                      <div class="inst">
                        <div class="inst__wrap">
                          <div class="inst__img"><img src="images/inst2.svg" alt=""></div>
                          <p class="inst__descr">Вне приема пищи</p>
                        </div>
                      </div>
                      <div class="inst">
                        <div class="inst__wrap">
                          <div class="inst__img"><img src="images/inst3.svg" alt=""></div>
                          <p class="inst__descr">Длительность — до прекращения кашля</p>
                        </div>
                      </div>
                      <div class="inst">
                        <div class="inst__wrap">
                          <div class="inst__img"><img src="images/inst4.svg" alt=""></div>
                          <p class="inst__descr">При тяжелом кашле кратность приема можно увеличить</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="application__content solution js-tab-content">
                <div class="dose-wrap">
                  <div class="dose"><span class="dose__time">Утром</span>
                    <div class="dose__img"><img src="images/k1.png" alt=""></div>
                  </div>
                  <div class="dose-arrow"></div>
                  <div class="dose"><span class="dose__time">Днем</span>
                    <div class="dose__img"><img src="images/k1.png" alt=""></div>
                  </div>
                  <div class="dose-arrow"></div>
                  <div class="dose"><span class="dose__time">Вечером</span>
                    <div class="dose__img"><img src="images/k1.png" alt=""></div>
                  </div>
                </div>
                <div class="inst-section">
                  <div class="container">
                    <div class="inst-wrap">
                      <div class="inst">
                        <div class="inst__wrap">
                          <div class="inst__img"><img src="images/int5.png" alt=""></div>
                          <p class="inst__descr">Для приема внутрь</p>
                        </div>
                      </div>
                      <div class="inst">
                        <div class="inst__wrap">
                          <div class="inst__img"><img src="images/inst2.svg" alt=""></div>
                          <p class="inst__descr">Вне приема пищи</p>
                        </div>
                      </div>
                      <div class="inst">
                        <div class="inst__wrap">
                          <div class="inst__img"><img src="images/int6.png" alt=""></div>
                          <p class="inst__descr">В зависимости от тяжести кашля</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="container">
          <div class="footer-nav"><a class="logo" href="#"><img src="images/footer-rengalin.svg" alt="logo"></a>
            <nav class="nav"><span class="nav__title">МЕНЮ</span>
              <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="#">О препарате</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Инструкция</a></li>
                <li class="nav__item"><a class="nav__link" href="#">О природе кашля кашля</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Статьи</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Специалистом</a></li>
              </ul>
            </nav>
            <nav class="nav"><span class="nav__title">Горячая линия</span>
              <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="tel:+74952761571">+7 (495) 276-15-71</a></li>
              </ul>
            </nav>
            <nav class="nav"><span class="nav__download">Ссылки на литературу
                <div class="litera">
                  <p>1. Геппе Н.А., Кондюрина Е.Г., Галустян А.Н., Пак Т.Е., Бальцерович Н.Б., Жиглинская О.В., Камаев А.В., Лазарева С.Г., Лалэко С.Л., Мельникова И.М., Михайлова Е.В., Перминова О.А., Сабитов А.У., Спиваковский Ю.М., Шамшева О.В., Черная Н.Л. Новые возможности эффективной терапии кашля при острых респираторных инфекциях у детей. Лечащий врач.2017; 10: 25-33.</p>
                  <p>2. Геппе Н.А., Кондюрина Е.Г., Пак Т.Е. Современные возможности эффективной терапии кашля при острых респираторных инфекциях у детей. Лечащий врач. 2018; 6: 15-18.</p>
                  <p>3. Геппе Н.А., Спасский А.А. Результаты всероссийской наблюдательной программы изучения применения Ренгалина в амбулаторном лечении кашля (РЕАЛ). Терапия. 2018; 3(21): 134-143.</p>
                  <p>4. Хамитов Р.Ф., Илькович М.М., Акопов А.Л., Михайлусова М.П., Петров Д.В., Алпенидзе Д.Н., Шаповалова Ю.С., Козырев О.А., Абраменкова Н.Ю., Шуньков В.Б., Павлыш Е.Ф., Ерофеева С.Б. Результаты многоцентрового рандомизированного двойного слепого плацебо-контролируемого исследования эффективности и безопасности применения Ренгалина для лечения кашля при острой респираторной инф! екциÐ ¸ у взрослых пациентов. Терапия. 2019; 5( 1(27)): 38-53.</p>
                  <p>5. Акопов А.Л., Александрова Е.Б., Илькович М.М., Петров Д.В., Трофимов В.И. Ренгалин – новый эффективный и безопасный препарат в лечении кашля. Результаты многоцентрового сравнительного рандомизированного клинического исследования у больных с острыми респираторными инфекциями. Антибиотики и химиотерапия. 201! 5; 60(1-2 ): 19-26.</p>
                </div></span></nav>
            <button class="btn secondary js-open-modal" type="button">ЗАДАТЬ ВОПРОС</button>
          </div>
          <div class="footer-info">
            <p class="copyright">© 2020 Все права защищены. ООО НПФ «Материа Медика Холдинг» 129272, Москва, ул. Трифоновская, д. 47, стр. 1 +7 (495) 276-15-71</p><a class="footer-logo" href="#"><img src="images/logo2.svg" alt=""></a>
          </div>
        </div>
        <div class="footer-instruction"> 
          <div class="container">
            <p class="instruction">ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. ПЕРЕД ПРИМЕНЕНИЕМ ОЗНАКОМЬТЕСЬ С <a href="#">ИНСТРУКЦИЕЙ</a></p>
          </div>
        </div>
      </footer>
      <div class="mask js-mask"></div>
      <div class="mask js-video-mask"></div>
      <div class="modal js-modal js-ask-modal">
        <div class="modal__wrap">
          <div class="modal__close js-close-modal"></div>
          <h3 class="modal__title">Задать вопрос</h3>
          <form class="main-form" action="#">
            <div class="main-form__wrap">
              <div class="main-form__input-wrap">
                <div class="main-form__field">
                  <label class="main-form__label" for="#"></label>
                  <input class="main-form__input" type="text" required placeholder="Имя">
                </div>
                <div class="main-form__field">
                  <label class="main-form__label" for="#"></label>
                  <input class="main-form__input" type="email" required placeholder="Электронная почта">
                </div>
              </div>
              <div class="main-form__field main-form__field_text">
                <textarea class="main-form__textarea" name="#" placeholder="Сообщение"></textarea>
              </div>
              <div class="main-form__bottom-wrap">
                <div class="main-form__code-wrap">
                  <div class="main-form__code"><img src="images/code.png" alt="">
                    <button class="main-form__refresh" type="button">Обновить</button>
                  </div>
                  <div class="main-form__code-input">
                    <input class="main-form__input" type="text" required placeholder="Код с картинки">
                  </div>
                </div>
                <button class="btn primary js-valid" type="submit">Отправить</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal js-modal">
        <div class="modal__wrap">
          <div class="modal__close js-close-modal"></div>
          <h3 class="modal__title">Cпасибо</h3>
          <p class="modal__text">Ваша заявка принята. Наш оператор даст ответ в ближайшее время.</p>
        </div>
      </div>
      <div class="modal js-accept-modal js-modal scroll-wrap">
        <div class="modal__wrap">
          <button class="modal__close js-close-modal" type="button"></button>
          <h3 class="modal__accept-title">Являетесь ли вы специалистом?</h3>
          <div class="modal__nav"><a class="btn secondary" href="specialists.html">да</a>
            <button class="btn secondary js-close-modal" type="button">нет</button>
          </div>
        </div>
      </div>
      <div class="quality-content js-quality">
        <div class="quality-wrap">
          <div class="quality"><img src="images/quality3.svg" alt="">
            <div class="quality-open">
              <div class="award">
                <div class="award__img"><img src="images/quality3.svg" alt=""></div>
                <p class="award__descr">Признан "Маркой №1 в России - 2019" в категории "Средство от простуды и гриппа"</p>
              </div>
            </div>
          </div>
          <div class="quality"><img src="images/quality1.svg" alt="">
            <div class="quality-open">
              <div class="award">
                <div class="award__img"><img src="images/quality1.svg" alt=""></div>
                <p class="award__descr">Препарат выбора для лечения простуды и гриппа по версии премии "Зеленый крест — 2019"</p>
              </div>
            </div>
          </div>
          <div class="quality"><img src="images/quality2.svg" alt="">
            <div class="quality-open">
              <div class="award">
                <div class="award__img"><img src="images/quality2.svg" alt=""></div>
                <p class="award__descr">Признан "Маркой №1 в России - 2019" в категории "Средство от простуды и гриппа"</p>
              </div>
            </div>
          </div>
        </div>
        <button class="to-bottom scroll-link" type="button"><span>Скрольте вниз</span><img src="images/tobottom.svg" alt=""></button>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/jquery.elimore.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
