build/articles.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="container"><a class="logo" href="index.html"><img src="images/logo.svg" alt="logo"></a>
          <div class="burger-menu js-nav">
            <nav class="nav">
              <ul class="nav__list">
                <li class="nav__item"><a class="nav__link active" href="about-preparat.html">О препарате</a></li>
                <li class="nav__item"><a class="nav__link" href="instruction.html"> Инструкция</a></li>
                <li class="nav__item"><a class="nav__link" href="cough.html">о кашле</a></li>
                <li class="nav__item"><a class="nav__link" href="articles.html">Публикации</a></li>
                <li class="nav__item"><span class="nav__link js-open-accept">Специалистам</span></li>
                <li class="nav__item"><a class="nav__link" href="faq.html">faq</a></li>
              </ul>
            </nav>
          </div><a class="buy-btn" href="#"></a><a class="btn primary" href="#">Купить</a>
          <div class="burger js-burger"><span></span><span></span></div>
        </div>
      </header>
      <main class="main"> 
        <section class="article-section">
          <div class="container">
            <h2 class="section-title section-title_line">Статьи</h2>
            <div class="article-wrap"><a class="article" href="article.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/article1.png')"></div>
                  <div class="article__info"><span class="article__date">16 июня</span>
                    <h3 class="article__title">Кашель: новая концепция и новые возможности терапии</h3>
                  </div>
                </div></a><a class="article" href="article.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/article1.png')"></div>
                  <div class="article__info"><span class="article__date">16 июня</span>
                    <h3 class="article__title">Кашель: новая концепция и новые возможности терапии</h3>
                  </div>
                </div></a><a class="article" href="article.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/article1.png')"></div>
                  <div class="article__info"><span class="article__date">16 июня</span>
                    <h3 class="article__title">Кашель: новая концепция и новые возможности терапии</h3>
                  </div>
                </div></a><a class="article" href="article.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/article1.png')"></div>
                  <div class="article__info"><span class="article__date">16 июня</span>
                    <h3 class="article__title">Кашель: новая концепция и новые возможности терапии</h3>
                  </div>
                </div></a><a class="article" href="article.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/article1.png')"></div>
                  <div class="article__info"><span class="article__date">16 июня</span>
                    <h3 class="article__title">Кашель: новая концепция и новые возможности терапии</h3>
                  </div>
                </div></a><a class="article" href="article.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/article1.png')"></div>
                  <div class="article__info"><span class="article__date">16 июня</span>
                    <h3 class="article__title">Кашель: новая концепция и новые возможности терапии</h3>
                  </div>
                </div></a><a class="article" href="article.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/article1.png')"></div>
                  <div class="article__info"><span class="article__date">16 июня</span>
                    <h3 class="article__title">Кашель: новая концепция и новые возможности терапии</h3>
                  </div>
                </div></a><a class="article" href="article.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/article1.png')"></div>
                  <div class="article__info"><span class="article__date">16 июня</span>
                    <h3 class="article__title">Кашель: новая концепция и новые возможности терапии</h3>
                  </div>
                </div></a><a class="article" href="article.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/article1.png')"></div>
                  <div class="article__info"><span class="article__date">16 июня</span>
                    <h3 class="article__title">Кашель: новая концепция и новые возможности терапии</h3>
                  </div>
                </div></a><a class="article" href="article.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/article1.png')"></div>
                  <div class="article__info"><span class="article__date">16 июня</span>
                    <h3 class="article__title">Кашель: новая концепция и новые возможности терапии</h3>
                  </div>
                </div></a><a class="article" href="article.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/article1.png')"></div>
                  <div class="article__info"><span class="article__date">16 июня</span>
                    <h3 class="article__title">Кашель: новая концепция и новые возможности терапии</h3>
                  </div>
                </div></a><a class="article" href="article.html">
                <div class="article__wrap">
                  <div class="article__img" style="background-image: url('images/article1.png')"></div>
                  <div class="article__info"><span class="article__date">16 июня</span>
                    <h3 class="article__title">Кашель: новая концепция и новые возможности терапии</h3>
                  </div>
                </div></a></div>
            <div class="btn-wrap" id="scroll">
              <button class="btn secondary" type="button">показать еще</button>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="container">
          <div class="footer-nav"><a class="logo" href="#"><img src="images/footer-rengalin.svg" alt="logo"></a>
            <nav class="nav"><span class="nav__title">МЕНЮ</span>
              <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="#">О препарате</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Инструкция</a></li>
                <li class="nav__item"><a class="nav__link" href="#">О природе кашля кашля</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Статьи</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Специалистом</a></li>
              </ul>
            </nav>
            <nav class="nav"><span class="nav__title">Горячая линия</span>
              <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="tel:+74952761571">+7 (495) 276-15-71</a></li>
              </ul>
            </nav>
            <nav class="nav"><span class="nav__download">Ссылки на литературу
                <div class="litera">
                  <p>1. Геппе Н.А., Кондюрина Е.Г., Галустян А.Н., Пак Т.Е., Бальцерович Н.Б., Жиглинская О.В., Камаев А.В., Лазарева С.Г., Лалэко С.Л., Мельникова И.М., Михайлова Е.В., Перминова О.А., Сабитов А.У., Спиваковский Ю.М., Шамшева О.В., Черная Н.Л. Новые возможности эффективной терапии кашля при острых респираторных инфекциях у детей. Лечащий врач.2017; 10: 25-33.</p>
                  <p>2. Геппе Н.А., Кондюрина Е.Г., Пак Т.Е. Современные возможности эффективной терапии кашля при острых респираторных инфекциях у детей. Лечащий врач. 2018; 6: 15-18.</p>
                  <p>3. Геппе Н.А., Спасский А.А. Результаты всероссийской наблюдательной программы изучения применения Ренгалина в амбулаторном лечении кашля (РЕАЛ). Терапия. 2018; 3(21): 134-143.</p>
                  <p>4. Хамитов Р.Ф., Илькович М.М., Акопов А.Л., Михайлусова М.П., Петров Д.В., Алпенидзе Д.Н., Шаповалова Ю.С., Козырев О.А., Абраменкова Н.Ю., Шуньков В.Б., Павлыш Е.Ф., Ерофеева С.Б. Результаты многоцентрового рандомизированного двойного слепого плацебо-контролируемого исследования эффективности и безопасности применения Ренгалина для лечения кашля при острой респираторной инф! екциÐ ¸ у взрослых пациентов. Терапия. 2019; 5( 1(27)): 38-53.</p>
                  <p>5. Акопов А.Л., Александрова Е.Б., Илькович М.М., Петров Д.В., Трофимов В.И. Ренгалин – новый эффективный и безопасный препарат в лечении кашля. Результаты многоцентрового сравнительного рандомизированного клинического исследования у больных с острыми респираторными инфекциями. Антибиотики и химиотерапия. 201! 5; 60(1-2 ): 19-26.</p>
                </div></span></nav>
            <button class="btn secondary js-open-modal" type="button">ЗАДАТЬ ВОПРОС</button>
          </div>
          <div class="footer-info">
            <p class="copyright">© 2020 Все права защищены. ООО НПФ «Материа Медика Холдинг» 129272, Москва, ул. Трифоновская, д. 47, стр. 1 +7 (495) 276-15-71</p><a class="footer-logo" href="#"><img src="images/logo2.svg" alt=""></a>
          </div>
        </div>
        <div class="footer-instruction"> 
          <div class="container">
            <p class="instruction">ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. ПЕРЕД ПРИМЕНЕНИЕМ ОЗНАКОМЬТЕСЬ С <a href="#">ИНСТРУКЦИЕЙ</a></p>
          </div>
        </div>
      </footer>
      <div class="mask js-mask"></div>
      <div class="mask js-video-mask"></div>
      <div class="modal js-modal js-ask-modal">
        <div class="modal__wrap">
          <div class="modal__close js-close-modal"></div>
          <h3 class="modal__title">Задать вопрос</h3>
          <form class="main-form" action="#">
            <div class="main-form__wrap">
              <div class="main-form__input-wrap">
                <div class="main-form__field">
                  <label class="main-form__label" for="#"></label>
                  <input class="main-form__input" type="text" required placeholder="Имя">
                </div>
                <div class="main-form__field">
                  <label class="main-form__label" for="#"></label>
                  <input class="main-form__input" type="email" required placeholder="Электронная почта">
                </div>
              </div>
              <div class="main-form__field main-form__field_text">
                <textarea class="main-form__textarea" name="#" placeholder="Сообщение"></textarea>
              </div>
              <div class="main-form__bottom-wrap">
                <div class="main-form__code-wrap">
                  <div class="main-form__code"><img src="images/code.png" alt="">
                    <button class="main-form__refresh" type="button">Обновить</button>
                  </div>
                  <div class="main-form__code-input">
                    <input class="main-form__input" type="text" required placeholder="Код с картинки">
                  </div>
                </div>
                <button class="btn primary js-valid" type="submit">Отправить</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal js-modal">
        <div class="modal__wrap">
          <div class="modal__close js-close-modal"></div>
          <h3 class="modal__title">Cпасибо</h3>
          <p class="modal__text">Ваша заявка принята. Наш оператор даст ответ в ближайшее время.</p>
        </div>
      </div>
      <div class="modal js-accept-modal js-modal scroll-wrap">
        <div class="modal__wrap">
          <button class="modal__close js-close-modal" type="button"></button>
          <h3 class="modal__accept-title">Являетесь ли вы специалистом?</h3>
          <div class="modal__nav"><a class="btn secondary" href="specialists.html">да</a>
            <button class="btn secondary js-close-modal" type="button">нет</button>
          </div>
        </div>
      </div>
      <div class="quality-content js-quality">
        <div class="quality-wrap">
          <div class="quality"><img src="images/quality3.svg" alt="">
            <div class="quality-open">
              <div class="award">
                <div class="award__img"><img src="images/quality3.svg" alt=""></div>
                <p class="award__descr">Признан "Маркой №1 в России - 2019" в категории "Средство от простуды и гриппа"</p>
              </div>
            </div>
          </div>
          <div class="quality"><img src="images/quality1.svg" alt="">
            <div class="quality-open">
              <div class="award">
                <div class="award__img"><img src="images/quality1.svg" alt=""></div>
                <p class="award__descr">Препарат выбора для лечения простуды и гриппа по версии премии "Зеленый крест — 2019"</p>
              </div>
            </div>
          </div>
          <div class="quality"><img src="images/quality2.svg" alt="">
            <div class="quality-open">
              <div class="award">
                <div class="award__img"><img src="images/quality2.svg" alt=""></div>
                <p class="award__descr">Признан "Маркой №1 в России - 2019" в категории "Средство от простуды и гриппа"</p>
              </div>
            </div>
          </div>
        </div>
        <button class="to-bottom scroll-link" type="button"><span>Скрольте вниз</span><img src="images/tobottom.svg" alt=""></button>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/jquery.elimore.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>

app/pages/articles.pug
extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main 
		section.article-section
			.container
				h2.section-title.section-title_line Статьи
				.article-wrap
					a(href="article.html").article
						.article__wrap
							.article__img(style="background-image: url('images/article1.png')")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					a(href="article.html").article
						.article__wrap
							.article__img(style="background-image: url('images/article1.png')")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					a(href="article.html").article
						.article__wrap
							.article__img(style="background-image: url('images/article1.png')")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					a(href="article.html").article
						.article__wrap
							.article__img(style="background-image: url('images/article1.png')")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					a(href="article.html").article
						.article__wrap
							.article__img(style="background-image: url('images/article1.png')")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					a(href="article.html").article
						.article__wrap
							.article__img(style="background-image: url('images/article1.png')")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					a(href="article.html").article
						.article__wrap
							.article__img(style="background-image: url('images/article1.png')")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					a(href="article.html").article
						.article__wrap
							.article__img(style="background-image: url('images/article1.png')")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					a(href="article.html").article
						.article__wrap
							.article__img(style="background-image: url('images/article1.png')")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					a(href="article.html").article
						.article__wrap
							.article__img(style="background-image: url('images/article1.png')")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					a(href="article.html").article
						.article__wrap
							.article__img(style="background-image: url('images/article1.png')")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					a(href="article.html").article
						.article__wrap
							.article__img(style="background-image: url('images/article1.png')")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
				.btn-wrap#scroll
					button(type="button").btn.secondary показать еще

block footer
	include ../blocks/footer/footer
	include ../blocks/modal/fixed-elements
