build/cough.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="container"><a class="logo" href="index.html"><img src="images/logo.svg" alt="logo"></a>
          <div class="burger-menu js-nav">
            <nav class="nav">
              <ul class="nav__list">
                <li class="nav__item"><a class="nav__link active" href="about-preparat.html">О препарате</a></li>
                <li class="nav__item"><a class="nav__link" href="instruction.html"> Инструкция</a></li>
                <li class="nav__item"><a class="nav__link" href="cough.html">о кашле</a></li>
                <li class="nav__item"><a class="nav__link" href="articles.html">Публикации</a></li>
                <li class="nav__item"><span class="nav__link js-open-accept">Специалистам</span></li>
                <li class="nav__item"><a class="nav__link" href="faq.html">faq</a></li>
              </ul>
            </nav>
          </div><a class="buy-btn" href="#"></a><a class="btn primary" href="#">Купить</a>
          <div class="burger js-burger"><span></span><span></span></div>
        </div>
      </header>
      <main class="main">
        <section class="article-open-section">
          <div class="container">
            <h2 class="section-title section-title_line">О природе кашля</h2>
            <div class="article">
              <div class="article__img"><img src="images/article1.png" alt=""></div>
              <div class="article__content">
                <h4>Кашель и его назначение?</h4>
                <p class="article__descr">Кашель, как симптом болезни, является естественной реакцией на раздражение рецепторов, расположенных в дыхательных путях, которую человек не контролирует.</p>
                <p class="article__descr">Физиологическое значение кашля — освобождение дыхательных путей от инородных частиц и устранение механических препятствий току воздуха. Это могут быть микроорганизмы или мокрота, а также просто мелкие частички пыли. При попадании более крупных инородных тел тоже срабатывает безусловный рефлекс и организм пытается избавиться от чужака, при этом говорят, что человек поперхнулся. Механизм работы рефлекса основан на зависимости кашлевого центра, находящегося в головном мозге и рецепторов, расположенных в дыхательных путях. Реализация кашлевого рефлекса начинается с раздражения местных рецепторов и заканчивается в головном мозге активацией кашлевого центра.</p>
                <p class="article__descr">В целом по своей сути кашель является защитником организма и спутником, без которого невозможно скорейшее выздоровление. Являясь маркером различных заболеваний, кашель отличается рядом параметров, тем самым помогает поставить правильный диагноз.</p>
                <h4>При каких заболеваниях может возникнуть кашель?</h4>
                <p class="article__descr">Заболевания, для которых кашель является характерным симптомом варьируют от острых респираторных вирусных инфекций (ОРВИ) до тяжелых состояний, например, туберкулеза и сердечная недостаточность. Лекарство от бронхита и кашля у взрослых найти в аптеке не сложно, недорогие лекарства от кашля в широком ассортименте представлены на полках, а вот лечение более опасных заболеваний необходимо проводить под наблюдением врача в стационаре</p>
                <h4>Классификация кашля</h4>
                <p class="article__descr">Если мы говорим о симптоме, который сопровождает острую респираторную инфекцию (ОРИ), то здесь возможны два варианта:<span class="article__under">сухой</span>и <span class="article__under">влажный</span>кашель.</p>
                <div class="alignright"><img src="images/co1.png" alt=""></div>
                <p class="article__descr">Такое разделение на два типа кашля проводится на основании наличия, либо отсутствия мокроты. При сухом кашле мокрота почти не выделяется, поэтому его называют непродуктивным кашлем. При заболеваниях вирусного характера сухой кашель характеризует начало заболевания и его острую фазу. В течение первых дней болезни — густая мокрота скапливается в дыхательных путях, запуская механизм образования кашля. Раздраженные местные рецепторы подают сигналы в головной мозг активизируя кашлевой центр.</p>
                <p class="article__descr">В начальный период заболевания необходимо принимать лекарство от сухого кашля, чтобы снизить изматывающие приступы непродуктивного кашля. Как правило, длительность приема таких лекарств ограничивается несколькими днями. Важно не пропустить переломный момент в болезни и таблетки от сухого кашля заменить на лекарство от влажного кашля.</p>
                <div class="alignleft"><img src="images/co2.png" alt=""></div>
                <p class="article__descr">Если мокроты выделяется достаточное количество, то кашель называют продуктивным или влажным. Врачом-терапевтом назначается лекарство от влажного кашля, способствующее более легкому и безболезненному отхождению мокроты. Как правило, появление мокроты означает постепенное выздоровление пациента, у него спадает отек дыхательных путей, и слизистая оболочка возвращается в нормальное состояние. В этот период, чувствуя, что выздоравливает, пациент самостоятельно перестает принимать таблетки от влажного кашля. Если окончательного исчезновения мокроты не произошло, но она прозрачная и не имеет кровяных вкраплений или желто-зеленого оттенка, то тревогу бить не стоит. Ежедневное вырабатывание небольшого количества мокроты считается нормой у людей.</p>
                <p class="article__descr">Такая сложная схема лечения ОРИ часто вызывает у людей ошибки в приеме лекарств. Им нужно не забыть принять противовирусные препараты, лекарство от того типа кашля, который мучает на текущий момент, и других возникающих симптомов (боль в горле, насморк и т.д.)., запомнить, сколько раз и в какое время относительно приемов пищи необходимо принять лекарства, выбрать правильную дозировку и форму препарата. Все эти манипуляции человеку приходится совершать при плохом самочувствии и ослабленном организме.</p>
                <h4>Как быстро побороть заболевание?</h4>
                <p class="article__descr">Существенно сократить список необходимых лекарственных средств может помочь универсальный препарат Ренгалин, предназначенный для лечения сухого и влажного кашля для взрослых и детей с 3-х лет. За счет трехкомпонентного состава он обеспечивает комплексное действие: снижает активность кашлевого центра, уменьшает отек и воспаление, умеренно расширяет бронхи.</p>
                <div class="advantages-wrap">
                  <div class="advantages-row">
                    <div class="advantages">
                      <div class="advantages__wrap">
                        <div class="advantages__img"><img src="images/f1.png" alt=""></div>
                        <h3 class="advantages__title">Снижает активность кашлевого центра</h3>
                      </div>
                    </div>
                    <div class="advantages">
                      <div class="advantages__wrap">
                        <div class="advantages__img"><img src="images/f2.png" alt=""></div>
                        <h3 class="advantages__title">Устраняет отечность и воспаление в дыхательных путях</h3>
                      </div>
                    </div>
                    <div class="advantages">
                      <div class="advantages__wrap">
                        <div class="advantages__img"><img src="images/f3.png" alt=""></div>
                        <h3 class="advantages__title">Умеренно расширяет бронхи</h3>
                      </div>
                    </div>
                    <div class="advantages">
                      <div class="advantages__wrap">
                        <div class="advantages__img"><img src="images/f4.png" alt=""></div>
                        <h3 class="advantages__title">Не вызывает сонливости и заторможенности</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="article__descr">Ренгалин не вызывает сонливости и может применяться при управлении автомобилем. Но забывать о консультации и рекомендациях врача не стоит, соблюдайте щадящий режим до полного выздоровления. Берегите себя!		</p>
              </div>
            </div>
            <div class="tabs js-tabs" id="scroll">
              <h3 class="tab-title">Типы кашля</h3>
              <ul class="tabs__list js-tab-btn">
                <li class="tabs__item active">Сухой кашель</li>
                <li class="tabs__item">Влажный кашель</li>
              </ul>
              <div class="tabs__content js-tab-content active"><img src="images/article1.png" alt="">
                <div class="accordion">
                  <div class="accordion__item">
                    <h3 class="accordion__title">Защищает или изматывает?</h3>
                    <div class="accordion__content">
                      <p class="accordion__descr">Таблетки плоскоцилиндрической формы, с фаской, с риской на одной плоской стороне, с цельными краями, от белого до почти белого цвета.</p>
                      <p class="accordion__descr">На плоской стороне с риской нанесена надпись MATERIA MEDICA, на другой плоской стороне нанесена надпись RENGALIN.</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3 class="accordion__title">Коварство сухого кашля…</h3>
                    <div class="accordion__content">
                      <p class="accordion__descr">1</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabs__content js-tab-content"><img src="images/article1.png" alt="">
                <div class="accordion">
                  <div class="accordion__item">
                    <h3 class="accordion__title">Защищает или изматывает?</h3>
                    <div class="accordion__content">
                      <p class="accordion__descr">Таблетки плоскоцилиндрической формы, с фаской, с риской на одной плоской стороне, с цельными краями, от белого до почти белого цвета.</p>
                      <p class="accordion__descr">На плоской стороне с риской нанесена надпись MATERIA MEDICA, на другой плоской стороне нанесена надпись RENGALIN.</p>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <h3 class="accordion__title">Коварство сухого кашля…</h3>
                    <div class="accordion__content">
                      <p class="accordion__descr">1</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="form-section">
          <div class="container">
            <h2 class="section-title">Ренгалин выпускается в 2-х формах:</h2>
            <div class="form-wrap">
              <div class="form-drug">
                <div class="form-img"><img src="images/form1.png" alt=""></div>
                <p class="form-info">Таблетки для рассасывания не требуют запивания водой и удобны в применении у взрослых (удобно взять с собой на работу, в отпуск)</p>
              </div>
              <div class="form-drug">
                <div class="form-img"><img src="images/form2.png" alt=""></div>
                <p class="form-info">Раствор для приема внутрь является наиболее удобной формой для детей</p>
              </div>
            </div>
          </div>
        </section>
        <section class="microphone-section" id="test-section">
          <div class="test-container" style="background-image: url('images/m.jpg')"><img class="abs-decor" src="images/clouds.svg" alt="">
            <div class="circle-wrap">
              <div class="circle first"></div>
              <div class="circle second"></div>
              <div class="circle third"></div>
              <div class="circle fourth"></div>
            </div>
            <div class="audioparser" id="audioparser"></div>
            <div class="microphone _opened">
              <div class="microphone__wrap">
                <div class="microphone__head">
                  <h2>Тест на тип кашля</h2>
                  <p>Пройдите тест для определения <br>типа вашего кашля</p>
                </div>
                <div class="microphone__footer">
                  <div class="microphone__img"><img src="images/mircophone.svg" alt=""></div>
                </div>
                <div class="microphone__nav">
                  <button class="btn primary js-next" type="button" id="start">начать</button>
                  <button class="btn primary" type="button" id="slide3">Пропустить аудиотест</button>
                </div>
              </div><img class="abs-img one" src="images/bird1.png" alt=""><img class="abs-img two" src="images/bird2.png" alt=""><img class="abs-img three" src="images/bird3.png" alt="">
            </div>
            <div class="microphone">
              <div class="microphone__wrap">
                <div class="microphone__head">
                  <h2>Тест на тип кашля</h2>
                  <p>Пожалуйста, покашляйте в микрофон <br>своего устройства</p>
                </div>
                <div class="microphone__footer">
                  <div class="microphone__img"><img src="images/mircophone.svg" alt=""></div>
                </div>
                <div class="microphone__nav">
                  <button class="record-btn js-next" type="button">
                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="30" cy="30" r="30" fill="white"></circle>
                      <circle class="circleFill" opacity="0.8" cx="30" cy="30" r="25" stroke="#7A84A9" stroke-width="4"></circle>
                      <circle class="circleTrack" opacity="0.5" cx="30" cy="30" r="25" stroke="#E4E6EE" stroke-width="4"></circle>
                      <rect x="20" y="20" width="20" height="20" rx="6" fill="#FF0000"></rect>
                    </svg>
                  </button>
                </div>
              </div><img class="abs-img one" src="images/bird1.png" alt=""><img class="abs-img two" src="images/bird2.png" alt=""><img class="abs-img three" src="images/bird3.png" alt="">
            </div>
            <div class="microphone">
              <div class="microphone__wrap">
                <div class="microphone__head">
                  <h2>Вопрос <span class="js-question-slide">1 </span>/ <span class="js-question-count">5</span></h2>
                </div>
                <div class="question js-question-start">
                  <p class="question__text">На какой день простуды у Вас (ребенка) появился кашель?</p>
                  <div class="question__wrap">
                    <input data-question-name="whatDay" data-question-value="1-3" type="radio" id="q1" name="q">
                    <label for="q1">На 1-3 день</label>
                    <input data-question-name="whatDay" data-question-value="after3" type="radio" id="q2" name="q">
                    <label for="q2">На 3 день и позже</label>
                  </div>
                  <button class="btn primary js-btn-question" type="button">Дaлее</button>
                </div>
                <div class="question js-question-start">
                  <p class="question__text">Как долго с начала заболевания Вас (ребенка) мучает кашель?</p>
                  <div class="question__wrap">
                    <input data-question-name="howLong" data-question-value="1-3" type="radio" id="q12" name="q">
                    <label for="q12">1-3 дня</label>
                    <input data-question-name="howLong" data-question-value="3-5" type="radio" id="q3" name="q">
                    <label for="q3">3-5 дней</label>
                    <input data-question-name="howLong" data-question-value="after5" type="radio" id="q4" name="q">
                    <label for="q4">более 5 дней</label>
                  </div>
                  <button class="btn primary js-btn-question" type="button">Дaлее</button>
                </div>
                <div class="question js-question-start" data-pain="block">
                  <p class="question__text">Испытываете ли Вы болевые ощущения во время кашля?</p>
                  <div class="question__wrap">
                    <input data-question-name="pain" data-question-value="pain-yes" type="radio" id="q5" name="q" data-pain="yes">
                    <label for="q5">Да</label>
                    <input data-question-name="pain" data-question-value="pain-no" type="radio" id="q6" name="q" data-pain="no">
                    <label for="q6">Нет</label>
                  </div>
                  <button class="btn primary js-btn-question" type="button">Дaлее</button>
                </div>
                <div class="question js-question-start" data-pain="yes" data-last="last">
                  <p class="question__text">Носит ли кашель приступообразный характер?</p>
                  <div class="question__wrap">
                    <input data-question-name="character" data-question-value="character-yes" type="radio" id="q7" name="q" data-last="dry">
                    <label for="q7">Да</label>
                    <input data-question-name="character" data-question-value="character-no" type="radio" id="q8" name="q" data-last="dry">
                    <label for="q8">Нет</label>
                  </div>
                  <button class="btn primary js-btn-question" type="button">Дaлее</button>
                </div>
                <div class="question js-question-start" data-pain="no" data-last="last">
                  <p class="question__text">Происходит ли в результате кашля отделение мокроты?</p>
                  <div class="question__wrap">
                    <input data-question-name="phlegm" data-question-value="phlegm-yes" type="radio" id="q9" name="q" data-last="wet">
                    <label for="q9">Да</label>
                    <input data-question-name="phlegm" data-question-value="phlegm-no" type="radio" id="q10" name="q" data-last="dry">
                    <label for="q10">Нет</label>
                    <input data-question-name="phlegm" data-question-value="phlegm-difficult" type="radio" id="q11" name="q" data-last="doctor">
                    <label for="q11">Затрудняюсь ответить</label>
                  </div>
                  <button class="btn primary js-btn-question" type="button">Дaлее</button>
                </div>
              </div>
            </div>
            <div class="microphone">
              <div class="microphone__wrap">
                <div class="microphone__head">
                  <h2>Результат теста</h2>
                </div>
                <div class="question js-question-end open" data-cough="doctor">
                  <p class="question__text result">Рекомендуем обратиться к врачу. А пока, Вы можете принять Ренгалин – для лечения сухого и влажного кашля</p>
                </div>
                <div class="question js-question-end" data-cough="dry">
                  <p class="question__text result">Предположительно – это сухой кашель</p>
                </div>
                <div class="question js-question-end" data-cough="wet">
                  <p class="question__text result">Предположительно – это влажный кашель</p>
                </div><img class="result-img" src="images/pack1.png" alt="">
                <div class="microphone__nav row"><a class="btn primary" href="#">Купить</a><a class="btn secondary" href="#">о препарате</a></div>
                <button class="restart-btn js-prev" type="button">Пройти тест заново</button>
              </div>
            </div>
          </div>
        </section>
        <section class="article-section">
          <div class="container">
            <h2 class="section-title section-title_line">Статьи</h2>
            <div class="article-wrap">
              <div class="article"><a class="article__wrap" href="articles.html">
                  <div class="article__img"><img src="images/article1.png" alt=""></div>
                  <div class="article__info"><span class="article__date">16 июня</span>
                    <h3 class="article__title">Кашель: новая концепция и новые возможности терапии</h3>
                  </div></a></div>
              <div class="article"><a class="article__wrap" href="articles.html">
                  <div class="article__img"><img src="images/article1.png" alt=""></div>
                  <div class="article__info"><span class="article__date">16 июня</span>
                    <h3 class="article__title">Кашель: новая концепция и новые возможности терапии</h3>
                  </div></a></div>
              <div class="article"><a class="article__wrap" href="articles.html">
                  <div class="article__img"><img src="images/article1.png" alt=""></div>
                  <div class="article__info"><span class="article__date">16 июня</span>
                    <h3 class="article__title">Кашель: новая концепция и новые возможности терапии</h3>
                  </div></a></div>
            </div>
            <div class="btn-wrap">
              <button class="btn secondary" type="button">все статьи</button>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="container">
          <div class="footer-nav"><a class="logo" href="#"><img src="images/footer-rengalin.svg" alt="logo"></a>
            <nav class="nav"><span class="nav__title">МЕНЮ</span>
              <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="#">О препарате</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Инструкция</a></li>
                <li class="nav__item"><a class="nav__link" href="#">О природе кашля кашля</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Статьи</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Специалистом</a></li>
              </ul>
            </nav>
            <nav class="nav"><span class="nav__title">Горячая линия</span>
              <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="tel:+74952761571">+7 (495) 276-15-71</a></li>
              </ul>
            </nav>
            <nav class="nav"><span class="nav__download">Ссылки на литературу
                <div class="litera">
                  <p>1. Геппе Н.А., Кондюрина Е.Г., Галустян А.Н., Пак Т.Е., Бальцерович Н.Б., Жиглинская О.В., Камаев А.В., Лазарева С.Г., Лалэко С.Л., Мельникова И.М., Михайлова Е.В., Перминова О.А., Сабитов А.У., Спиваковский Ю.М., Шамшева О.В., Черная Н.Л. Новые возможности эффективной терапии кашля при острых респираторных инфекциях у детей. Лечащий врач.2017; 10: 25-33.</p>
                  <p>2. Геппе Н.А., Кондюрина Е.Г., Пак Т.Е. Современные возможности эффективной терапии кашля при острых респираторных инфекциях у детей. Лечащий врач. 2018; 6: 15-18.</p>
                  <p>3. Геппе Н.А., Спасский А.А. Результаты всероссийской наблюдательной программы изучения применения Ренгалина в амбулаторном лечении кашля (РЕАЛ). Терапия. 2018; 3(21): 134-143.</p>
                  <p>4. Хамитов Р.Ф., Илькович М.М., Акопов А.Л., Михайлусова М.П., Петров Д.В., Алпенидзе Д.Н., Шаповалова Ю.С., Козырев О.А., Абраменкова Н.Ю., Шуньков В.Б., Павлыш Е.Ф., Ерофеева С.Б. Результаты многоцентрового рандомизированного двойного слепого плацебо-контролируемого исследования эффективности и безопасности применения Ренгалина для лечения кашля при острой респираторной инф! екциÐ ¸ у взрослых пациентов. Терапия. 2019; 5( 1(27)): 38-53.</p>
                  <p>5. Акопов А.Л., Александрова Е.Б., Илькович М.М., Петров Д.В., Трофимов В.И. Ренгалин – новый эффективный и безопасный препарат в лечении кашля. Результаты многоцентрового сравнительного рандомизированного клинического исследования у больных с острыми респираторными инфекциями. Антибиотики и химиотерапия. 201! 5; 60(1-2 ): 19-26.</p>
                </div></span></nav>
            <button class="btn secondary js-open-modal" type="button">ЗАДАТЬ ВОПРОС</button>
          </div>
          <div class="footer-info">
            <p class="copyright">© 2020 Все права защищены. ООО НПФ «Материа Медика Холдинг» 129272, Москва, ул. Трифоновская, д. 47, стр. 1 +7 (495) 276-15-71</p><a class="footer-logo" href="#"><img src="images/logo2.svg" alt=""></a>
          </div>
        </div>
        <div class="footer-instruction"> 
          <div class="container">
            <p class="instruction">ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. ПЕРЕД ПРИМЕНЕНИЕМ ОЗНАКОМЬТЕСЬ С <a href="#">ИНСТРУКЦИЕЙ</a></p>
          </div>
        </div>
      </footer>
      <div class="mask js-mask"></div>
      <div class="mask js-video-mask"></div>
      <div class="modal js-modal js-ask-modal">
        <div class="modal__wrap">
          <div class="modal__close js-close-modal"></div>
          <h3 class="modal__title">Задать вопрос</h3>
          <form class="main-form" action="#">
            <div class="main-form__wrap">
              <div class="main-form__input-wrap">
                <div class="main-form__field">
                  <label class="main-form__label" for="#"></label>
                  <input class="main-form__input" type="text" required placeholder="Имя">
                </div>
                <div class="main-form__field">
                  <label class="main-form__label" for="#"></label>
                  <input class="main-form__input" type="email" required placeholder="Электронная почта">
                </div>
              </div>
              <div class="main-form__field main-form__field_text">
                <textarea class="main-form__textarea" name="#" placeholder="Сообщение"></textarea>
              </div>
              <div class="main-form__bottom-wrap">
                <div class="main-form__code-wrap">
                  <div class="main-form__code"><img src="images/code.png" alt="">
                    <button class="main-form__refresh" type="button">Обновить</button>
                  </div>
                  <div class="main-form__code-input">
                    <input class="main-form__input" type="text" required placeholder="Код с картинки">
                  </div>
                </div>
                <button class="btn primary js-valid" type="submit">Отправить</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal js-modal">
        <div class="modal__wrap">
          <div class="modal__close js-close-modal"></div>
          <h3 class="modal__title">Cпасибо</h3>
          <p class="modal__text">Ваша заявка принята. Наш оператор даст ответ в ближайшее время.</p>
        </div>
      </div>
      <div class="modal js-accept-modal js-modal scroll-wrap">
        <div class="modal__wrap">
          <button class="modal__close js-close-modal" type="button"></button>
          <h3 class="modal__accept-title">Являетесь ли вы специалистом?</h3>
          <div class="modal__nav"><a class="btn secondary" href="specialists.html">да</a>
            <button class="btn secondary js-close-modal" type="button">нет</button>
          </div>
        </div>
      </div>
      <div class="quality-content js-quality">
        <div class="quality-wrap">
          <div class="quality"><img src="images/quality3.svg" alt="">
            <div class="quality-open">
              <div class="award">
                <div class="award__img"><img src="images/quality3.svg" alt=""></div>
                <p class="award__descr">Признан "Маркой №1 в России - 2019" в категории "Средство от простуды и гриппа"</p>
              </div>
            </div>
          </div>
          <div class="quality"><img src="images/quality1.svg" alt="">
            <div class="quality-open">
              <div class="award">
                <div class="award__img"><img src="images/quality1.svg" alt=""></div>
                <p class="award__descr">Препарат выбора для лечения простуды и гриппа по версии премии "Зеленый крест — 2019"</p>
              </div>
            </div>
          </div>
          <div class="quality"><img src="images/quality2.svg" alt="">
            <div class="quality-open">
              <div class="award">
                <div class="award__img"><img src="images/quality2.svg" alt=""></div>
                <p class="award__descr">Признан "Маркой №1 в России - 2019" в категории "Средство от простуды и гриппа"</p>
              </div>
            </div>
          </div>
        </div>
        <button class="to-bottom scroll-link" type="button"><span>Скрольте вниз</span><img src="images/tobottom.svg" alt=""></button>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/jquery.elimore.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>

app/pages/cough.pug
extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.article-open-section
			.container
				h2.section-title.section-title_line О природе кашля
				.article
					.article__img
						img(src="images/article1.png", alt="")
					.article__content
						h4 Кашель и его назначение?
						p.article__descr Кашель, как симптом болезни, является естественной реакцией на раздражение рецепторов, расположенных в дыхательных путях, которую человек не контролирует.
						p.article__descr Физиологическое значение кашля — освобождение дыхательных путей от инородных частиц и устранение механических препятствий току воздуха. Это могут быть микроорганизмы или мокрота, а также просто мелкие частички пыли. При попадании более крупных инородных тел тоже срабатывает безусловный рефлекс и организм пытается избавиться от чужака, при этом говорят, что человек поперхнулся. Механизм работы рефлекса основан на зависимости кашлевого центра, находящегося в головном мозге и рецепторов, расположенных в дыхательных путях. Реализация кашлевого рефлекса начинается с раздражения местных рецепторов и заканчивается в головном мозге активацией кашлевого центра.
						p.article__descr В целом по своей сути кашель является защитником организма и спутником, без которого невозможно скорейшее выздоровление. Являясь маркером различных заболеваний, кашель отличается рядом параметров, тем самым помогает поставить правильный диагноз.
						h4 При каких заболеваниях может возникнуть кашель?
						p.article__descr Заболевания, для которых кашель является характерным симптомом варьируют от острых респираторных вирусных инфекций (ОРВИ) до тяжелых состояний, например, туберкулеза и сердечная недостаточность. Лекарство от бронхита и кашля у взрослых найти в аптеке не сложно, недорогие лекарства от кашля в широком ассортименте представлены на полках, а вот лечение более опасных заболеваний необходимо проводить под наблюдением врача в стационаре
						h4 Классификация кашля
						p.article__descr Если мы говорим о симптоме, который сопровождает острую респираторную инфекцию (ОРИ), то здесь возможны два варианта:
							span.article__under сухой
							| и 
							span.article__under влажный
							| кашель.
						.alignright
							img(src="images/co1.png", alt="")
						p.article__descr Такое разделение на два типа кашля проводится на основании наличия, либо отсутствия мокроты. При сухом кашле мокрота почти не выделяется, поэтому его называют непродуктивным кашлем. При заболеваниях вирусного характера сухой кашель характеризует начало заболевания и его острую фазу. В течение первых дней болезни — густая мокрота скапливается в дыхательных путях, запуская механизм образования кашля. Раздраженные местные рецепторы подают сигналы в головной мозг активизируя кашлевой центр.
						p.article__descr В начальный период заболевания необходимо принимать лекарство от сухого кашля, чтобы снизить изматывающие приступы непродуктивного кашля. Как правило, длительность приема таких лекарств ограничивается несколькими днями. Важно не пропустить переломный момент в болезни и таблетки от сухого кашля заменить на лекарство от влажного кашля.
						.alignleft
							img(src="images/co2.png", alt="")
						p.article__descr Если мокроты выделяется достаточное количество, то кашель называют продуктивным или влажным. Врачом-терапевтом назначается лекарство от влажного кашля, способствующее более легкому и безболезненному отхождению мокроты. Как правило, появление мокроты означает постепенное выздоровление пациента, у него спадает отек дыхательных путей, и слизистая оболочка возвращается в нормальное состояние. В этот период, чувствуя, что выздоравливает, пациент самостоятельно перестает принимать таблетки от влажного кашля. Если окончательного исчезновения мокроты не произошло, но она прозрачная и не имеет кровяных вкраплений или желто-зеленого оттенка, то тревогу бить не стоит. Ежедневное вырабатывание небольшого количества мокроты считается нормой у людей.
						p.article__descr Такая сложная схема лечения ОРИ часто вызывает у людей ошибки в приеме лекарств. Им нужно не забыть принять противовирусные препараты, лекарство от того типа кашля, который мучает на текущий момент, и других возникающих симптомов (боль в горле, насморк и т.д.)., запомнить, сколько раз и в какое время относительно приемов пищи необходимо принять лекарства, выбрать правильную дозировку и форму препарата. Все эти манипуляции человеку приходится совершать при плохом самочувствии и ослабленном организме.
						h4 Как быстро побороть заболевание?
						p.article__descr Существенно сократить список необходимых лекарственных средств может помочь универсальный препарат Ренгалин, предназначенный для лечения сухого и влажного кашля для взрослых и детей с 3-х лет. За счет трехкомпонентного состава он обеспечивает комплексное действие: снижает активность кашлевого центра, уменьшает отек и воспаление, умеренно расширяет бронхи.
						.advantages-wrap
							.advantages-row
								.advantages
									.advantages__wrap
										.advantages__img
											img(src="images/f1.png", alt="")
										h3.advantages__title Снижает активность кашлевого центра
								.advantages
									.advantages__wrap
										.advantages__img
											img(src="images/f2.png", alt="")
										h3.advantages__title Устраняет отечность и воспаление в дыхательных путях
								.advantages
									.advantages__wrap
										.advantages__img
											img(src="images/f3.png", alt="")
										h3.advantages__title Умеренно расширяет бронхи
								.advantages
									.advantages__wrap
										.advantages__img
											img(src="images/f4.png", alt="")
										h3.advantages__title Не вызывает сонливости и заторможенности
						p.article__descr Ренгалин не вызывает сонливости и может применяться при управлении автомобилем. Но забывать о консультации и рекомендациях врача не стоит, соблюдайте щадящий режим до полного выздоровления. Берегите себя!		
				
				.tabs.js-tabs#scroll
					h3.tab-title Типы кашля
					ul.tabs__list.js-tab-btn
						li.tabs__item.active Сухой кашель
						li.tabs__item Влажный кашель

					.tabs__content.js-tab-content.active
						img(src="images/article1.png", alt="")
						.accordion
							.accordion__item
								h3.accordion__title Защищает или изматывает?
								.accordion__content
									p.accordion__descr Таблетки плоскоцилиндрической формы, с фаской, с риской на одной плоской стороне, с цельными краями, от белого до почти белого цвета.
									p.accordion__descr На плоской стороне с риской нанесена надпись MATERIA MEDICA, на другой плоской стороне нанесена надпись RENGALIN.
							.accordion__item
								h3.accordion__title Коварство сухого кашля…
								.accordion__content
									p.accordion__descr 1
					.tabs__content.js-tab-content
						img(src="images/article1.png", alt="")
						.accordion
							.accordion__item
								h3.accordion__title Защищает или изматывает?
								.accordion__content
									p.accordion__descr Таблетки плоскоцилиндрической формы, с фаской, с риской на одной плоской стороне, с цельными краями, от белого до почти белого цвета.
									p.accordion__descr На плоской стороне с риской нанесена надпись MATERIA MEDICA, на другой плоской стороне нанесена надпись RENGALIN.
							.accordion__item
								h3.accordion__title Коварство сухого кашля…
								.accordion__content
									p.accordion__descr 1

		section.form-section
			.container
				h2.section-title Ренгалин выпускается в 2-х формах:
				.form-wrap
					.form-drug
						.form-img
							img(src="images/form1.png", alt="")
						p.form-info Таблетки для рассасывания не требуют запивания водой и удобны в применении у взрослых (удобно взять с собой на работу, в отпуск)
					.form-drug
						.form-img
							img(src="images/form2.png", alt="")
						p.form-info Раствор для приема внутрь является наиболее удобной формой для детей
		
		include ../blocks/microphone/microphone

		section.article-section
			.container
				h2.section-title.section-title_line Статьи
				.article-wrap
					.article
						a(href="articles.html").article__wrap
							.article__img
								img(src="images/article1.png", alt="")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					.article
						a(href="articles.html").article__wrap
							.article__img
								img(src="images/article1.png", alt="")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
					.article
						a(href="articles.html").article__wrap
							.article__img
								img(src="images/article1.png", alt="")
							.article__info
								span.article__date 16 июня
								h3.article__title Кашель: новая концепция и новые возможности терапии
				.btn-wrap
					button(type="button").btn.secondary все статьи

block footer
	include ../blocks/footer/footer
	include ../blocks/modal/fixed-elements
