build/specialists.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="container"><a class="logo" href="index.html"><img src="images/logo.svg" alt="logo"></a>
          <div class="burger-menu js-nav">
            <nav class="nav">
              <ul class="nav__list">
                <li class="nav__item"><a class="nav__link active" href="about-preparat.html">О препарате</a></li>
                <li class="nav__item"><a class="nav__link" href="instruction.html"> Инструкция</a></li>
                <li class="nav__item"><a class="nav__link" href="cough.html">о кашле</a></li>
                <li class="nav__item"><a class="nav__link" href="articles.html">Публикации</a></li>
                <li class="nav__item"><span class="nav__link js-open-accept">Специалистам</span></li>
                <li class="nav__item"><a class="nav__link" href="faq.html">faq</a></li>
              </ul>
            </nav>
          </div><a class="buy-btn" href="#"></a><a class="btn primary" href="#">Купить</a>
          <div class="burger js-burger"><span></span><span></span></div>
        </div>
      </header>
      <main class="main">
        <section class="about-preparat-section">
          <div class="container">
            <div class="description-content">
              <div class="description-info">
                <h2 class="section-title">Специалистам</h2>
                <p class="section-descr">Ренгалин – 1 место в назначениях специалистов среди препаратов группы «Противокашлевые средства, за исключением комбинированных препаратов, содержащих экспекторанты»</p>
                <p class="section-subdescr">Источник: Данные аудита врачебных назначений RxTest базы данных «Система исследования рынка Pharmxplorer» за период 2019г.</p>
              </div>
              <div class="description-img"><img src="images/pack1.png" alt=""></div>
            </div>
          </div>
        </section>
        <section class="mechanism-section">
          <div class="container">
            <h2 class="section-title section-title_line">Ренгалин включен в руководства и методические рекомендации </h2>
            <div class="manual-wrap"><a class="manual" href="#" download>
                <div class="manual__wrap">
                  <div class="manual__img"><img src="images/pack1.png" alt=""></div>
                  <p class="manual__descr">Руководство Педиатрического респираторного <br>общества</p><span class="manual__download">Скачать</span>
                </div></a><a class="manual" href="#" download>
                <div class="manual__wrap">
                  <div class="manual__img"><img src="images/pack1.png" alt=""></div>
                  <p class="manual__descr">Методические рекомендации Федерального медико-биологического агенства</p><span class="manual__download">Скачать</span>
                </div></a></div>
          </div>
        </section>
        <section class="results-section">
          <div class="container">
            <h2 class="section-title">По результатам исследований приема препарата Ренгалин</h2>
            <div class="result-wrap">
              <div class="results">
                <div class="results__wrap">
                  <div class="results__img"><img src="images/result1.svg" alt=""></div>
                  <p class="results__descr">У 53% пациентов непродуктивный кашель перешел в «остаточный» после 3-дневного курса</p>
                </div>
              </div>
              <div class="results">
                <div class="results__wrap">
                  <div class="results__img"><img src="images/result2.svg" alt=""></div>
                  <p class="results__descr">Препятствует развитию экссудации с образованием вязкой мокроты, что существенно снижает потребность назначениям препаратов (32% пациентов против 43% группы Плацебо)</p>
                </div>
              </div>
              <div class="results">
                <div class="results__wrap">
                  <div class="results__img"><img src="images/result3.svg" alt=""></div>
                  <p class="results__descr">Улучшение или полное купирование кашля после 3 дней терапии Ренгалином у 68% пациентов</p>
                </div>
              </div>
              <div class="results">
                <div class="results__wrap">
                  <div class="results__img"><img src="images/result4.svg" alt=""></div>
                  <p class="results__descr">Общая продолжительность кашля у взрослых пациентов с ОРИ ограничивается 4.37±0.11 днями</p>
                </div>
              </div>
              <div class="results">
                <div class="results__wrap">
                  <div class="results__img"><img src="images/result5.svg" alt=""></div>
                  <p class="results__descr">Общая продолжительность кашля у детей с ОРИ составляет 5,8±0,1 дней</p>
                </div>
              </div>
            </div>
            <div class="result-title-wrap"><span class="result-line"></span><span class="result-title">Ссылки на источник</span><span class="result-line"></span></div>
            <div class="result-blocks">
              <div class="result-block">
                <p class="block-desrc">Многоцентровое открытое сравнительное рандомизированное клиническое исследование в параллельных группах безопасности и эффективности жидкой лекарственной формы Ренгалина в лечении кашля при ОРИ верхних дыхательных путей у детей</p>
                <p class="block-subdescr"> Геппе Н.А., Кондюрина Е.Г., Галустян А.Н. и др. Лечащий врач. 2017; 10: 25-33</p>
              </div>
              <div class="result-block">
                <p class="block-desrc">Многоцентровое двойное слепое плацебо-контролируемое рандомизированное клиническое исследование в параллельных группах безопасности и эффективности жидкой лекарственной формы Ренгалина в лечении кашля при острых респираторных инфекциях верхних дыхательных путей у взрослых пациентов</p>
                <p class="block-subdescr">Хамитов Р.М. и соавт. Терапия. 2019; Т.5№1(27): 38-53</p>
              </div>
            </div>
          </div>
        </section>
        <section class="video-section">
          <div class="container">
            <div class="video-info">
              <h3>Всероссийская наблюдательная программа РЕАЛ</h3>
              <p>Изучение практики применения Ренгалина в амбулаторных условиях у пациентов с кашелм при отсрых респираторных инфекциях</p>
            </div>
            <div class="video-info">
              <div class="product-video js-video-open"><img src="images/ba1.png" alt="">
                <div class="video-btn"></div>
              </div>
              <div class="video-modal js-video-modal"><span class="js-video-close video-close"></span>
                <video class="video js-video" controls id="video-one">
                  <source src="video/video.webm">
                </video>
              </div>
            </div>
          </div>
        </section>
        <section class="section-product">
          <div class="container">
            <h2 class="section-title">Механизм действия препарата Ренгалин</h2>
            <div class="product-video js-video-open"><img src="images/ba1.png" alt="">
              <div class="video-btn"></div>
            </div>
            <div class="video-modal js-video-modal"><span class="js-video-close video-close"></span>
              <video class="video js-video" controls id="video-two">
                <source src="video/video.webm">
              </video>
            </div>
          </div>
        </section>
        <section class="materials-section">
          <div class="container">
            <h2 class="section-title">Полезные материалы</h2>
            <div class="article-wrap"><a class="article article_material" href="#" download>
                <div class="article__wrap">
                  <div class="article__content"><span class="article__author">Емельянова А.Г., Тарасов С.А., Морозов С.Г.</span>
                    <h3 class="article__title">Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции</h3>
                    <div class="article__bottom"><span class="article__time">20  июня, 2020</span><span class="article__download">Скачать PDF</span></div>
                  </div>
                </div></a><a class="article article_material" href="#" download>
                <div class="article__wrap">
                  <div class="article__content"><span class="article__author">Емельянова А.Г., Тарасов С.А., Морозов С.Г.</span>
                    <h3 class="article__title">Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции</h3>
                    <div class="article__bottom"><span class="article__time">20  июня, 2020</span><span class="article__download">Скачать PDF</span></div>
                  </div>
                </div></a><a class="article article_material" href="#" download>
                <div class="article__wrap">
                  <div class="article__content"><span class="article__author">Емельянова А.Г., Тарасов С.А., Морозов С.Г.</span>
                    <h3 class="article__title">Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции</h3>
                    <div class="article__bottom"><span class="article__time">20  июня, 2020</span><span class="article__download">Скачать PDF</span></div>
                  </div>
                </div></a><a class="article article_material" href="#" download>
                <div class="article__wrap">
                  <div class="article__content"><span class="article__author">Емельянова А.Г., Тарасов С.А., Морозов С.Г.</span>
                    <h3 class="article__title">Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции</h3>
                    <div class="article__bottom"><span class="article__time">20  июня, 2020</span><span class="article__download">Скачать PDF</span></div>
                  </div>
                </div></a></div>
          </div>
        </section>
        <section class="article-section">
          <div class="container">
            <h2 class="section-title section-title_line">Статьи</h2>
            <div class="article-wrap">
              <div class="article article_art">
                <div class="article__wrap">
                  <div class="article__img"><img src="images/article1.png" alt=""></div>
                  <div class="article__content">
                    <h3 class="article__title">Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции</h3>
                    <div class="article__bottom"><span class="article__time">20  июня, 2020</span><a class="article__download" href="#" download>Скачать PDF</a></div>
                  </div>
                </div>
              </div>
              <div class="article article_art">
                <div class="article__wrap">
                  <div class="article__img"><img src="images/article1.png" alt=""></div>
                  <div class="article__content">
                    <h3 class="article__title">Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции</h3>
                    <div class="article__bottom"><span class="article__time">20  июня, 2020</span><a class="article__download" href="#" download>Скачать PDF</a></div>
                  </div>
                </div>
              </div>
              <div class="article article_art">
                <div class="article__wrap">
                  <div class="article__img"><img src="images/article1.png" alt=""></div>
                  <div class="article__content">
                    <h3 class="article__title">Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции</h3>
                    <div class="article__bottom"><span class="article__time">20  июня, 2020</span><a class="article__download" href="#" download>Скачать PDF</a></div>
                  </div>
                </div>
              </div>
              <div class="article article_art">
                <div class="article__wrap">
                  <div class="article__img"><img src="images/article1.png" alt=""></div>
                  <div class="article__content">
                    <h3 class="article__title">Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции</h3>
                    <div class="article__bottom"><span class="article__time">20  июня, 2020</span><a class="article__download" href="#" download>Скачать PDF</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="container">
          <div class="footer-nav"><a class="logo" href="#"><img src="images/footer-rengalin.svg" alt="logo"></a>
            <nav class="nav"><span class="nav__title">МЕНЮ</span>
              <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="#">О препарате</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Инструкция</a></li>
                <li class="nav__item"><a class="nav__link" href="#">О природе кашля кашля</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Статьи</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Специалистом</a></li>
              </ul>
            </nav>
            <nav class="nav"><span class="nav__title">Горячая линия</span>
              <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="tel:+74952761571">+7 (495) 276-15-71</a></li>
              </ul>
            </nav>
            <nav class="nav"><span class="nav__download">Ссылки на литературу
                <div class="litera">
                  <p>1. Геппе Н.А., Кондюрина Е.Г., Галустян А.Н., Пак Т.Е., Бальцерович Н.Б., Жиглинская О.В., Камаев А.В., Лазарева С.Г., Лалэко С.Л., Мельникова И.М., Михайлова Е.В., Перминова О.А., Сабитов А.У., Спиваковский Ю.М., Шамшева О.В., Черная Н.Л. Новые возможности эффективной терапии кашля при острых респираторных инфекциях у детей. Лечащий врач.2017; 10: 25-33.</p>
                  <p>2. Геппе Н.А., Кондюрина Е.Г., Пак Т.Е. Современные возможности эффективной терапии кашля при острых респираторных инфекциях у детей. Лечащий врач. 2018; 6: 15-18.</p>
                  <p>3. Геппе Н.А., Спасский А.А. Результаты всероссийской наблюдательной программы изучения применения Ренгалина в амбулаторном лечении кашля (РЕАЛ). Терапия. 2018; 3(21): 134-143.</p>
                  <p>4. Хамитов Р.Ф., Илькович М.М., Акопов А.Л., Михайлусова М.П., Петров Д.В., Алпенидзе Д.Н., Шаповалова Ю.С., Козырев О.А., Абраменкова Н.Ю., Шуньков В.Б., Павлыш Е.Ф., Ерофеева С.Б. Результаты многоцентрового рандомизированного двойного слепого плацебо-контролируемого исследования эффективности и безопасности применения Ренгалина для лечения кашля при острой респираторной инф! екциÐ ¸ у взрослых пациентов. Терапия. 2019; 5( 1(27)): 38-53.</p>
                  <p>5. Акопов А.Л., Александрова Е.Б., Илькович М.М., Петров Д.В., Трофимов В.И. Ренгалин – новый эффективный и безопасный препарат в лечении кашля. Результаты многоцентрового сравнительного рандомизированного клинического исследования у больных с острыми респираторными инфекциями. Антибиотики и химиотерапия. 201! 5; 60(1-2 ): 19-26.</p>
                </div></span></nav>
            <button class="btn secondary js-open-modal" type="button">ЗАДАТЬ ВОПРОС</button>
          </div>
          <div class="footer-info">
            <p class="copyright">© 2020 Все права защищены. ООО НПФ «Материа Медика Холдинг» 129272, Москва, ул. Трифоновская, д. 47, стр. 1 +7 (495) 276-15-71</p><a class="footer-logo" href="#"><img src="images/logo2.svg" alt=""></a>
          </div>
        </div>
        <div class="footer-instruction"> 
          <div class="container">
            <p class="instruction">ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. ПЕРЕД ПРИМЕНЕНИЕМ ОЗНАКОМЬТЕСЬ С <a href="#">ИНСТРУКЦИЕЙ</a></p>
          </div>
        </div>
      </footer>
      <div class="mask js-mask"></div>
      <div class="mask js-video-mask"></div>
      <div class="modal js-modal js-ask-modal">
        <div class="modal__wrap">
          <div class="modal__close js-close-modal"></div>
          <h3 class="modal__title">Задать вопрос</h3>
          <form class="main-form" action="#">
            <div class="main-form__wrap">
              <div class="main-form__input-wrap">
                <div class="main-form__field">
                  <label class="main-form__label" for="#"></label>
                  <input class="main-form__input" type="text" required placeholder="Имя">
                </div>
                <div class="main-form__field">
                  <label class="main-form__label" for="#"></label>
                  <input class="main-form__input" type="email" required placeholder="Электронная почта">
                </div>
              </div>
              <div class="main-form__field main-form__field_text">
                <textarea class="main-form__textarea" name="#" placeholder="Сообщение"></textarea>
              </div>
              <div class="main-form__bottom-wrap">
                <div class="main-form__code-wrap">
                  <div class="main-form__code"><img src="images/code.png" alt="">
                    <button class="main-form__refresh" type="button">Обновить</button>
                  </div>
                  <div class="main-form__code-input">
                    <input class="main-form__input" type="text" required placeholder="Код с картинки">
                  </div>
                </div>
                <button class="btn primary js-valid" type="submit">Отправить</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal js-modal">
        <div class="modal__wrap">
          <div class="modal__close js-close-modal"></div>
          <h3 class="modal__title">Cпасибо</h3>
          <p class="modal__text">Ваша заявка принята. Наш оператор даст ответ в ближайшее время.</p>
        </div>
      </div>
      <div class="modal js-accept-modal js-modal scroll-wrap">
        <div class="modal__wrap">
          <button class="modal__close js-close-modal" type="button"></button>
          <h3 class="modal__accept-title">Являетесь ли вы специалистом?</h3>
          <div class="modal__nav"><a class="btn secondary" href="specialists.html">да</a>
            <button class="btn secondary js-close-modal" type="button">нет</button>
          </div>
        </div>
      </div>
      <div class="quality-content js-quality">
        <div class="quality-wrap">
          <div class="quality"><img src="images/quality3.svg" alt="">
            <div class="quality-open">
              <div class="award">
                <div class="award__img"><img src="images/quality3.svg" alt=""></div>
                <p class="award__descr">Признан "Маркой №1 в России - 2019" в категории "Средство от простуды и гриппа"</p>
              </div>
            </div>
          </div>
          <div class="quality"><img src="images/quality1.svg" alt="">
            <div class="quality-open">
              <div class="award">
                <div class="award__img"><img src="images/quality1.svg" alt=""></div>
                <p class="award__descr">Препарат выбора для лечения простуды и гриппа по версии премии "Зеленый крест — 2019"</p>
              </div>
            </div>
          </div>
          <div class="quality"><img src="images/quality2.svg" alt="">
            <div class="quality-open">
              <div class="award">
                <div class="award__img"><img src="images/quality2.svg" alt=""></div>
                <p class="award__descr">Признан "Маркой №1 в России - 2019" в категории "Средство от простуды и гриппа"</p>
              </div>
            </div>
          </div>
        </div>
        <button class="to-bottom scroll-link" type="button"><span>Скрольте вниз</span><img src="images/tobottom.svg" alt=""></button>
      </div>
      <div class="mask js-mask js-mask-spec active"></div>
      <div class="modal js-accept-modal js-accept-spec js-modal scroll-wrap active">
        <div class="modal__wrap">
          <button class="modal__close js-close-modal" type="button"></button>
          <h3 class="modal__accept-title">Являетесь ли вы специалистом?</h3>
          <div class="modal__nav">
            <button class="btn secondary js-close-modal" type="button">да</button><a class="btn secondary" href="index.html">нет</a>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/jquery.elimore.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>

app/pages/specialists.pug
extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.about-preparat-section
			.container
				.description-content
					.description-info
						h2.section-title Специалистам
						p.section-descr Ренгалин – 1 место в назначениях специалистов среди препаратов группы «Противокашлевые средства, за исключением комбинированных препаратов, содержащих экспекторанты»
						p.section-subdescr Источник: Данные аудита врачебных назначений RxTest базы данных «Система исследования рынка Pharmxplorer» за период 2019г.
					.description-img
						img(src="images/pack1.png", alt="")
		section.mechanism-section
			.container
				h2.section-title.section-title_line Ренгалин включен в руководства и методические рекомендации 
				.manual-wrap
					a(href="#" download).manual
						.manual__wrap
							.manual__img
								img(src="images/pack1.png", alt="")
							p.manual__descr Руководство Педиатрического респираторного 
								br 
								| общества
							span.manual__download Скачать
					a(href="#" download).manual
						.manual__wrap
							.manual__img
								img(src="images/pack1.png", alt="")
							p.manual__descr Методические рекомендации Федерального медико-биологического агенства
							span.manual__download Скачать
		section.results-section
			.container
				h2.section-title По результатам исследований приема препарата Ренгалин
				.result-wrap
					.results
						.results__wrap
							.results__img
								img(src="images/result1.svg", alt="")
							p.results__descr У 53% пациентов непродуктивный кашель перешел в «остаточный» после 3-дневного курса
					.results
						.results__wrap
							.results__img
								img(src="images/result2.svg", alt="")
							p.results__descr Препятствует развитию экссудации с образованием вязкой мокроты, что существенно снижает потребность назначениям препаратов (32% пациентов против 43% группы Плацебо)
					.results
						.results__wrap
							.results__img
								img(src="images/result3.svg", alt="")
							p.results__descr Улучшение или полное купирование кашля после 3 дней терапии Ренгалином у 68% пациентов
					.results
						.results__wrap
							.results__img
								img(src="images/result4.svg", alt="")
							p.results__descr Общая продолжительность кашля у взрослых пациентов с ОРИ ограничивается 4.37±0.11 днями
					.results
						.results__wrap
							.results__img
								img(src="images/result5.svg", alt="")
							p.results__descr Общая продолжительность кашля у детей с ОРИ составляет 5,8±0,1 дней
				.result-title-wrap
					span.result-line
					span.result-title Ссылки на источник
					span.result-line
				.result-blocks
					.result-block
						p.block-desrc Многоцентровое открытое сравнительное рандомизированное клиническое исследование в параллельных группах безопасности и эффективности жидкой лекарственной формы Ренгалина в лечении кашля при ОРИ верхних дыхательных путей у детей
						p.block-subdescr  Геппе Н.А., Кондюрина Е.Г., Галустян А.Н. и др. Лечащий врач. 2017; 10: 25-33
					.result-block
						p.block-desrc Многоцентровое двойное слепое плацебо-контролируемое рандомизированное клиническое исследование в параллельных группах безопасности и эффективности жидкой лекарственной формы Ренгалина в лечении кашля при острых респираторных инфекциях верхних дыхательных путей у взрослых пациентов
						p.block-subdescr Хамитов Р.М. и соавт. Терапия. 2019; Т.5№1(27): 38-53
		section.video-section
			.container
				.video-info
					h3 Всероссийская наблюдательная программа РЕАЛ
					p Изучение практики применения Ренгалина в амбулаторных условиях у пациентов с кашелм при отсрых респираторных инфекциях
				.video-info
					.product-video.js-video-open
						img(src="images/ba1.png", alt="")
						.video-btn

					.video-modal.js-video-modal
						span.js-video-close.video-close
						video(controls).video.js-video#video-one
							source(src="video/video.webm")
		include ../blocks/section-product/section-product
		section.materials-section
			.container
				h2.section-title Полезные материалы
				.article-wrap
					a(href="#" download).article.article_material
						.article__wrap
							.article__content
								span.article__author Емельянова А.Г., Тарасов С.А., Морозов С.Г.
								h3.article__title Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции
								.article__bottom
									span.article__time 20  июня, 2020
									span.article__download Скачать PDF
					a(href="#" download).article.article_material
						.article__wrap
							.article__content
								span.article__author Емельянова А.Г., Тарасов С.А., Морозов С.Г.
								h3.article__title Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции
								.article__bottom
									span.article__time 20  июня, 2020
									span.article__download Скачать PDF
					a(href="#" download).article.article_material
						.article__wrap
							.article__content
								span.article__author Емельянова А.Г., Тарасов С.А., Морозов С.Г.
								h3.article__title Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции
								.article__bottom
									span.article__time 20  июня, 2020
									span.article__download Скачать PDF
					a(href="#" download).article.article_material
						.article__wrap
							.article__content
								span.article__author Емельянова А.Г., Тарасов С.А., Морозов С.Г.
								h3.article__title Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции
								.article__bottom
									span.article__time 20  июня, 2020
									span.article__download Скачать PDF
		section.article-section
			.container
				h2.section-title.section-title_line Статьи
				.article-wrap
					.article.article_art
						.article__wrap
							.article__img
								img(src="images/article1.png", alt="")
							.article__content
								h3.article__title Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции
								.article__bottom
									span.article__time 20  июня, 2020
									a(href="#" download).article__download Скачать PDF
					.article.article_art
						.article__wrap
							.article__img
								img(src="images/article1.png", alt="")
							.article__content
								h3.article__title Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции
								.article__bottom
									span.article__time 20  июня, 2020
									a(href="#" download).article__download Скачать PDF
					.article.article_art
						.article__wrap
							.article__img
								img(src="images/article1.png", alt="")
							.article__content
								h3.article__title Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции
								.article__bottom
									span.article__time 20  июня, 2020
									a(href="#" download).article__download Скачать PDF
					.article.article_art
						.article__wrap
							.article__img
								img(src="images/article1.png", alt="")
							.article__content
								h3.article__title Противовоспалительное действие релиз-активных антител к интерферону-гамма, CD4-рецептору и гистамину при респираторно-синцитиальной вирусной инфекции
								.article__bottom
									span.article__time 20  июня, 2020
									a(href="#" download).article__download Скачать PDF


block footer
	include ../blocks/footer/footer
	include ../blocks/modal/fixed-elements
	.mask.js-mask.js-mask-spec.active

	.modal.js-accept-modal.js-accept-spec.js-modal.scroll-wrap.active
		.modal__wrap
			button(type="button").modal__close.js-close-modal
			h3.modal__accept-title Являетесь ли вы специалистом?
			.modal__nav
				button(type="button").btn.secondary.js-close-modal да
				a(href="index.html").btn.secondary нет
